* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-one: #3feee6;
    --color-two: #fc4445;
    --color-three: #55bcc9;
    --color-four: #97caef;
    --color-five: #cafafe;
    ;
}

body {
    color: var(--color-one);
    font-family: helvectica, arial, sans-serif;
}