* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

:root {
    --color-one: #3feee6;
    --color-two: #fc4445;
    --color-three: #55bcc9;
    --color-four: #97caef;
    --color-five: #cafafe;
    ;
}

body {

    color: var(--color-five);
    font-family: 'Courier New', Courier, monospace;

}

h2,
h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color-three);
    font-weight: bold;
    text-align: center;
}

h3 {
    color: var(--color-three);
    font-weight: italic;
    text-align: center;
    margin-bottom: 10px;
}

/* Header & Hero style begins*/
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    top: 0%;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}


header a {
    text-align: right;
    text-decoration: none;
    color: var(--color-three);
}

header nav {
    margin: 7px 0;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--color-two);
    color: var(--color-three);
    border-radius: 15px;
    text-shadow: none;
}

.hero h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 75px;
    color: var(--color-two);
    text-align: center;
    margin: 0;
    text-shadow: 0 0 10px;
    background-color: rgba(0, 0, 0, .01);
    margin-bottom: 300px;
    margin-top: 150px;

}

/* About Me & Contact styling begins */
.con,
.about p {
    margin: auto;
    width: 65%;
    border: solid 1px var(--color-two);
    padding: 20px;
    background-color: rgba(252, 68, 69, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;

}

.about p {
    font-weight: bold;
}



/* My Work styling begins */
.work h2,
.about-head {
    margin: auto;
    width: 100%;
    border: solid 1px var(--color-two);
    padding: 20px;
    background-color: rgba(252, 68, 69, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}


.works {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.works h3 {
    margin-top: 25px;
    text-align: center;
}


.works img {
    width: 100%;
    height: auto;
}

.top-work {
    margin: auto;
    width: 75%;
    border: solid 1px var(--color-two);
    padding: 20px;
    background-color: rgba(252, 68, 69, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 25px;
}

.horiseon,
.robot-gladiators {
    flex-wrap: wrap;
    margin: auto;
    width: 37%;
    border: solid 1px var(--color-two);
    padding: 20px;
    background-color: rgba(252, 68, 69, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-bottom: 25px;
    display: inline-block;


}

/* Footer styling begins */
footer {
    margin-top: 50px;
}

/* Media Query For Mobile Phones and Smaller */
@media screen and (max-width: 590px) {

    .hero h1 {
        font-size: 18vw;
        flex-wrap: wrap;
    }

    .bottom-work h3 {
        font-size: 5vw;
    }

    .con address {
        font-size: 3.5vw;
    }

    footer h4 {
        font-size: 3vw;
    }
}